### Seqeunce Type - Stings, Lists and Tuples

### a) Strings

1. Add a comma between the characters. If the given word is 'Apple', it should become 'A,p,p,l,e'

In [1]:
word = "Apple"
result = ""
for i, char in enumerate(word):
    result += char
    if i < len(word) - 1:
        result += ","
print(result)

A,p,p,l,e

In [2]:
word = "Apple"
result = ",".join(word)
print(result)

A,p,p,l,e

2. Program to replace 
a) the given word with null in a string
b) spaces in the string with -

In [3]:
s = "This is a sample string with sample words."
rem = "sample"
result = s.replace(rem, "")  
print(result)

new_text = s.replace(" ", "-") 
print(new_text)   # replaces all spaces with -

This is a  string with  words.
This-is-a-sample-string-with-sample-words.

### b) Lists

3. Reverse Each Word in a Sentence using List comprehension

In [ ]:
s = input("Enter a sentence: ")
words = s.split()
reversed_words = [word[::-1] for word in words]
print(" ".join(reversed_words))

4. Create a list of squares using List Conprehension

In [1]:
squares = [x**2 for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]

5. Create a list of numbers divisible by both 2 and 3 using List Conprehension

In [9]:
nums = [x for x in range(1, 21) if x % 2 == 0 and x % 3 == 0]
print(nums)

[6, 12, 18]

6. Multiplication table (1 to 3) using List comphrehension

In [13]:
table = [[i*j for j in range(1, 6)] for i in range(1, 4)]
print("Multiplication table:", table)

Multiplication table: [[1, 2, 3, 4, 5], [2, 4, 6, 8, 10], [3, 6, 9, 12, 15]]

### c) Tuples

7. Convert the tuple into a list, add an element, and convert it back into a tuple:

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y.append("orange")
x = tuple(y)
print(x)

8. Change items in a tuple by converting into a list

In [17]:
x = ("apple", "banana", "cherry")
print(x[1])
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

banana
('apple', 'kiwi', 'cherry')